
@{
    ViewData["Title"] = "HW02";
}

<h1>HW02</h1>

<form name="userInfo" method="post" enctype="application/x-www-form-urlencoded" action="~/Homework/hasExist">
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" id="exampleInputName" name="name">
        <small id="nameHelp" class="form-text text-muted"></small>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" name="email">
    </div>
    <div class="mb-3">
        <label for="exampleInputAge" class="form-label">Age</label>
        <input type="number" class="form-control" id="exampleInputAge" name="age">
    </div>

    <div class="alert alert-info" id="div1"></div>

    <button type="submit" class="btn btn-primary" id="btn">Submit</button>
</form>

@section Scripts{
    <script>
        const txtname = document.querySelector("#exampleInputName"),
            mydiv = document.querySelector("#nameHelp");

        txtname.addEventListener("blur", (evt) => {
            evt.preventDefault(); //不執行submit 跳轉 link
            const formdata = new FormData(document.userInfo);
            let xhr = new XMLHttpRequest();

            xhr.addEventListener("load", () => {
                const data = xhr.responseText;
                mydiv.innerHTML = (data == "true") ? "This name has already Exist." : "";
            });

            xhr.open("POST", document.userInfo.action);
            xhr.send(formdata);
        });
    
    </script>
}
