
@{
    ViewData["Title"] = "AjaxPost";
}

<h1>AjaxPost</h1>

<form method="post" enctype="application/x-www-form-urlencoded" >
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" id="exampleInputName" name="name">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" name="email">
    </div>
    <div class="mb-3">
        <label for="exampleInputAge" class="form-label">Age</label>
        <input type="number" class="form-control" id="exampleInputAge" name="age">
    </div>

    <div class="alert alert-info" id="div1"></div>

    <button type="submit" class="btn btn-primary" id="btn">Submit</button>
</form>

@section Scripts{ 

    <script>
    const btn = document.querySelector("#btn"),
        txtname = document.querySelector("#exampleInputName"),
        txtemail = document.querySelector("#exampleInputEmail"),
        txtage = document.querySelector("#exampleInputAge"),
        mydiv = document.querySelector("#div1");

    btn.addEventListener("click", (evt) => {
        evt.preventDefault(); //不執行submit 跳轉 link
        let xhr = new XMLHttpRequest();

        xhr.addEventListener("load", () => {
            const data = xhr.responseText;
            mydiv.innerHTML = `<h1>${data}</h1>`;
        });

        const params = `name=${txtname.value}&email=${txtemail.value}&age=${txtage.value}`;
        xhr.open("POST","@Url.Content("~/Lesson/Index")");
        xhr.setRequestHeader("content-type", "application/x-www-form-urlencoded");
        xhr.send(params);

    });

    </script>

}