@{
    ViewData["Title"] = "Home Page";
}

@section Styles{
    <style>
        .display-4 {
            background-color: lightblue;
        }
    </style>
}

<div class="text-center">
    <h1 class="display-4" id="a">Welcome</h1>
</div>

